body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    /* Background color */
    color: white;
}

.logo h1 {
    margin: 0;
}

.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}

.nav-toggle {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
    }

    .nav-menu ul {
        flex-direction: column;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .nav-toggle {
        display: block;
    }
}